*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: #dadada;
}

.main-image {
  grid-area: image;
  background: url('https://pixabay.com/get/57e1d14a4256ad14f6da8c7dda79367e1d3adde451546c48702672dd934fc65cb9_1280.jpg') top center no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.sidebar {
  grid-area: sidebar;
  background-color: #30475e;
  border-left: 1px solid #7e8a97;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #30475e;
  color: #fff;
  padding: 1rem;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.sidebar-item:hover,
sidebar-item:focus {
  background-color: #7e8a97;
}

.slider-container {
  grid-area: slider;
  margin-top: 1rem;
  padding: 2rem
}

.slider {
  width: 100%;
  cursor: pointer;
}