/* general styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --sidebar-main-color: #1a1a2e;
  --sidebar-second-color: #0f3460;
  --button-color: #5d54a4;
}

body {
  margin: 0;
  padding: 0;
}

/* general styles */
/* main */
.container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image sidebar"
    "slider sidebar";
  height: 100vh;
  width: 100vw;
  background-color: var(--sidebar-main-color);
}

.main-image {
  grid-area: image;
  background: url('./assets/images/image.jpg') top center no-repeat;
  background-size: contain !important;
  margin: 30px auto;
  width: 100%;
  height: 100%;
}

/* main */

/* sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: var(--sidebar-main-color);
  display: flex;
  border-left: 2px solid var(--sidebar-second-color);
  flex-direction: column;
  align-items: stretch;
}

.sidebar-item {
  position: relative;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--sidebar-main-color);
  color: #fff;
  padding: 26px 50px;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.sidebar-item:hover,
sidebar-item:focus {
  background-color: var(--sidebar-second-color);
}

.sidebar .active {
  background-color: var(--sidebar-second-color);
}

.sidebar-item::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0%;
  right: 0%;
  bottom: 0;
  height: 1px;
  background-color: #344b8a
}

.sidebar-item:last-child::after {
  display: none
}

.sidebar .settings .reset {
  width: 143px;
  height: 55px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #c33737;
  color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 10px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.sidebar .settings {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.sidebar .settings .reset:hover {
  background-color: #ca5b5b;
}

.sidebar .settings .upload-image {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #45875c;
  color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 10px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

.sidebar .settings .upload-image:hover {
  background-color: #5a9c71;
}


.sidebar .settings .download-image:hover {
  background-color: #8b84c2;
}

.sidebar .settings .download-image {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: var(--button-color);
  color: #fff;
  border-radius: 5px;
  padding: 20px 30px;
  margin: 10px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
}

/* sidebar */
/* slider */
.slider-container {
  grid-area: slider;
  margin-top: 1rem;
  padding: 2rem
}

.slider {
  width: 100%;
  cursor: pointer;
}

/* slider */